body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #1e1d29;
  color: aliceblue;
}
h2,
h3,
p {
  margin: 0;
}
.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #302f42;
  border: solid 1px white;
  border-radius: 10px;
  width: 75%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.card__author-username {
  color: rgba(240, 248, 255, 0.26);
  margin-left: 30px;
}
.card__company {
  color: rgba(240, 248, 255, 0.26);
}
.card__title {
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
.delete {
  cursor: pointer;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}
.loading-animation {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 5px solid rgb(49, 7, 235, 0.1);
  border-top: 5px solid rgb(36, 144, 233);
  border-radius: 50%;
  animation: circle-loader 0.4s infinite linear;
}
@keyframes circle-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  color: rgb(36, 144, 233);
  display: flex;
  width: 110px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
